---
import Section from "../Section.astro";

import { education } from "@cv";
---

<Section className={Astro.props.className} title="Education">
	<ul class="space-y-10 pb-3 print:space-y-8">
		{
			education.map(({ institution, startDate, endDate, area, studyType, courses, url }) => {
				const startYear = new Date(startDate).getFullYear();
				const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual";
				const years = `${startYear} - ${endYear}`;

				return (
					<li class="flex items-baseline">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 hidden h-5 w-5 self-start md:inline-block print:hidden">
							<path d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z" />
							<path d="M22 10v6" />
						</svg>
						<div class="relative w-full">
							<div class="flex flex-col md:flex-row md:items-start justify-between gap-2 mb-2">
								<div class="max-w-[80%]">
									<h3 class="font-bold text-lg print:text-base leading-tight">
										<span set:html={area.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')} /> {studyType}
									</h3>
									<div class="text-sm font-medium text-skin-muted mt-1">
										<a target="_blank" class="hover:text-skin-hue group flex items-center gap-[6px] decoration-dotted underline-offset-[5px] hover:underline" href={url}>
											{institution}
										</a>
									</div>
								</div>
								<time class="text-xs text-skin-muted font-mono whitespace-nowrap shrink-0">{years}</time>
							</div>
							
							<div class="flex flex-col gap-1 print:gap-0">
								{courses && courses.length > 0 && (
									<ul class="text-xs text-skin-muted list-disc list-inside grid grid-cols-1 md:grid-cols-2 gap-x-4">
										{courses.map(course => <li>{course}</li>)}
									</ul>
								)}
							</div>
						</div>
					</li>
				);
			})
		}
	</ul>
</Section>